<div ng-include="'nav/_workoutNav.html'"></div> 

<table class="centered responsive-table">
  <thead>
    <tr>
        <th ng-model="title">Title</th> 
        <th ng-model="category">Category</th>
    </tr>
  </thead>

  <tbody ng-repeat="workout in workouts">
    <tr>
      <td><a ui-sref="workouts.show({ id: workout.id })">{{workout.title}}</a><a ng-click="destroy(workout)"><i class="material-icons">delete</i></a></td>
      <td>{{workout.category}}</td>
    </tr>
  </tbody>
</table>

<ui-view></ui-view>