<div class="row" ng-repeat="workout in workouts | filter: {id: id}">
  <div class="col s12 m6 offset-m3">
    <div class="card blue-grey darken-1">
      <div class="card-content white-text center">
        <span class="card-title">{{workout.title}}</span>
        <h6 class="center">Category - {{workout.category}}</h6>
        <h6 class="center"><i class="material-icons" ng-click="incrementUpvotes(workout)">thumb_up</i> - {{workout.upvotes}}</i></h6>
        <h6 class="center"><i class="material-icons" ng-click="incrementDownvotes(workout)">thumb_down</i> - {{workout.downvotes}}</i></h6>
        <table>
          <thead>
            <tr>
                <th>Exercise</th>
                <th>Sets</th>
                <th>Reps</th>
            </tr>
          </thead>

          <tbody>
            <tr>
              <td>{{workout.exercise}}<br>{{workout.exercise1}}<br>{{workout.exercise2}}<br>{{workout.exercise3}}<br>{{workout.exercise4}}</td>
              <td>{{workout.sets}}<br>{{workout.set1}}<br>{{workout.set2}}<br>{{workout.set3}}<br>{{workout.set4}}</td>
              <td>{{workout.reps}}<br>{{workout.rep2}}<br>{{workout.rep2}}<br>{{workout.rep3}}<br>{{workout.rep4}}</td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="card-action">
      </div>
    </div>
  </div>
</div>