<div ng-include="'nav/_workoutNav.html'"></div> 

<div class="row">
  <input class="col m6 offset-m3" ng-model="query" placeholder="Search">
</div>

  <div class="row">
    <select id="organizeCat" ng-model="search" class="browser-default col m6 offset-m3">
        <option value="" disabled="disabled" selected="selected">Choose Category</option>
        <option value="">All Categories</option>
        <option ng-repeat="category in categories" value="{{category.name}}">{{category.name}}</option>
    </select>
  </div>

<table class="centered col s12 m6 l6">
  <thead>
    <tr>
        <th ng-model="title">Title</th> 
        <th ng-model="category">Category</th>
        <th ng-model="user">User</th>
    </tr>
  </thead>

  <tbody ng-repeat="workout in workouts | filter: search | filter: query">
    <tr>
      <td><a ui-sref="workouts.show({ id: workout.id })">{{workout.title}}</a><a ng-click="destroy(workout)"><i class="material-icons">delete</i></a></td>
      <td>{{workout.category}}</td>
      <td>posted by: {{workout.user.username}}</td>
    </tr>
  </tbody>
</table>

<ui-view></ui-view> 