<div ng-include="'nav/_workoutNav.html'"></div> 
<div>
    <button ng-disabled="currentPage == 0" ng-click="currentPage=currentPage-1" class="btn-floating btn-small waves-effect waves-light red"><i class="material-icons">skip_previous</i>
    </button>
    {{currentPage+1}}/{{numberOfPages()}}
    <button ng-disabled="currentPage >= data.length/pageSize - 1" ng-click="currentPage=currentPage+1" class="btn-floating btn-small waves-effect waves-light green"><i class="material-icons">skip_next</i>
    </button>
  <table class="centered col s12 m6 l6">
    <thead>
      <tr>
          <th ng-click="sort('title')">Title<i class="material-icons">swap_vert</i>
            <span ng-show="sortKey=='title'"></span>
          </th> 
          <th ng-click="sort('category')">Category<i class="material-icons">swap_vert</i>
            <span ng-show="sortKey=='category'"></span>
          </th>
          <th ng-model="user">User</th>
          <th>Action</th>
      </tr>
    </thead>

    <tbody ng-repeat="workout in workouts | orderBy:orderBy:reverse | startFrom:currentPage*pageSize | limitTo:pageSize | filter: query | filter: search">
      <tr>
        <td><a ui-sref="workouts.show({ id: workout.id })">{{workout.title}}</a><a ng-click="destroy(workout)"><i class="material-icons">delete</i></a></td>
        <td>{{workout.category}}</td>
        <td>Created by: {{workout.user.username | uppercase }}</td>
        <td><a ui-sref="addExercise({ id: workout.id })">Add Exercise(s)</a></td>
      </tr>
    </tbody>
  </table>
</div>

<ui-view></ui-view> 